.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: #eff0f5;
}
.app-space {
  width: 100%;
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 500px) {
  .app-space {
    padding-right: 0.3rem;
    padding-top: 0.3rem;
    padding-left: 0.3rem;
  }
}
